[include]
	path = ./.gitconfig.local

[user]
	name = Lukas Osadsky
	email = lukas.osadsky@solarwinds.com

[core]
	autocrlf = false
	editor = code --wait

[commit]
	gpgsign = true

[fetch]
	prune = true

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode
	conflictStyle = zdiff3

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

